body {margin:10px;padding:0;}
p            { font-family: 'Times New Roman', arial, helvetica; font-size: 12pt; color: #000000 }
a.nav            { font-family: 'Times New Roman', arial, helvetica; font-size: 10pt; color: #FFFFFF; text-decoration:none }	
a.nav:hover {text-decoration:underline;}
p.titlebar      { font-family: 'Times New Roman', arial, helvetica; font-size: 10pt; color: #FFFFFF; margin-left:8px; }	
a		{font-family:'Times New Roman', arial, helvetica; font-size: 12pt; color: #666699;  } 
a.anchor {color:#000;}
#messagebox		{border-color:#666699; 
				padding: 10 10 10 10;
				border-style:solid;
				border-width:1px;
				width:305px;
				height:auto;
				position:relative;
				float:right;
				margin-left:10px;}
				
h1, h2, h3, h4, h5 {
		{ font-family: 'Times New Roman', arial, helvetica; color: #000000; font-weight:normal; }
}

#contactFormHeader {
	font-family: sans-serif;
	font-size: 36px;
	font-weight: normal;
	margin-top: 50px; 
	margin-left: 120px;
	margin-right: 120px
}

#contactForm {
	font-family: sans-serif;
	padding: 40px 0; 
	margin: 0 120px;
	color: #333333;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

.contactLabel {
	margin-right: 5px;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	transition: border-color ease-in-out 0.15s;
	box-shadow: none;
}

.normalInput {
	border: 1px solid #ccc;
}

.invisibull {
	display: none;
	visibility: hidden;
}

.errorInput {
	border: 2px solid hsl(10,100%,50%);
}

.form-control:focus {
	border-color: #337ab7;
}

textarea {resize: none;}

textarea.form-control{
	height: auto;
}

.text-danger {
	font-family: sans-serif;
	display: inline-block;
	color: hsl(10,100%,50%);
	padding: 0;
	margin: 0;
}

.btn {
	font-size: 16px;
	padding: 10px 18px;
	letter-spacing: 0.5px;

	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}

.btn-primary {
	color: #ffffff;
	background-color: #337ab7;
}

.btn-primary:hover {
	color: #ffffff;
	background-color: #2f6fa5;
}
